@import "../../vars.css";

.shortcut {
  display: flex;
  justify-content: space-around;
  background-color: var(--pure-white);
  border: 1px solid var(--search-border-white);
  border-radius: 13px;
  margin: 3.7rem 0.5rem;
  padding: 2rem 1rem 1rem 1rem;
  font-size: 3rem;
  color: var(--main-grey-light);
  letter-spacing: 1.5px;
  font-weight: 300;
}
