.btn,
.btn:active,
.btn:hover,
.btn:focus {
    margin-top:5rem;
    font-family: 'Space Mono', monospace;
    color: #fff;
    background-color:#333333;
    border: none;
    outline: none;
    padding: 2rem 4rem;
    font-size: 1.4rem;
    text-transform: uppercase;
}