.navigation {
    &__checkbox {
        display: none;
    }

    &__button {
        background-color: $color-primary-white;
        width: 7rem;
        height: 7rem;
        position: fixed;
        top:6rem;
        right:6rem;
        border-radius: 50% ;
        z-index: 2000;
        text-align: center;
        cursor: pointer;
    }

    &__background {
        height: 6rem;
        width: 6rem;
        border-radius: 50%;
        position: fixed;
        top:6.5rem;
        right:6.5rem;
        background-image: radial-gradient($color-primary-black, $color-primary-black); 
        z-index: 1000;
        transition: transform .8s;

        // transform: scale(80);
    }

    &__nav {
        height: 100vh;
        position: fixed;
        top: 0; 
        left: -100rem;
        z-index: 1500;

        opacity: 0;
        width: 0; 
        transition: all .8s;
        
    }

    &__list {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        list-style-type: none;
        text-align: center;
        width: 100%;
        
    }

    &__item {
        margin: 1rem ;  
    }

    &__link {
        display: inline-block;
        padding: 1rem 2rem;
        font-size: 3rem;
        font-weight: 300;
        color: white;
        text-decoration: none;
        text-transform: uppercase; 
    }

    &__checkbox:checked ~ &__background {
        transform: scale(80); 
    }

    &__checkbox:checked ~ &__nav {
        opacity: 1;
        width: 100%; 
        left: 0;
    }
    
    &__icon { 
        position: relative;
        margin-top: 3.5rem;

        &, 
        &::before,
        &::after {
            width: 3rem;
            height: 2px;
            background-color: $color-primary-black;
            display: inline-block;
        }

        &::before,
        &::after { 
            content: "";
            position: absolute;
            left: 0;
            transition: all .2s;

        }

        &::before { top: -.8rem;}
        &::after { top: .8rem }
    }

    &__button:hover &__icon::before { 
        top: -1rem;
    }
    &__button:hover &__icon::after { 
        top: 1rem;
    }

    &__checkbox:checked + &__button &__icon { 
        background-color: transparent;
    }

    &__checkbox:checked + &__button &__icon::before { 
        top: 0;
        transform: rotate(135deg);
    }

    &__checkbox:checked + &__button &__icon::after { 
        top: 0;
        transform: rotate(-135deg);
    } 

}