/* 
font-family: 'Crimson Pro', serif;
font-family: 'Lora', serif;
font-family: 'Montserrat', sans-serif;
 */

//color variables
$color-primary-black:#181719;
$color-primary-white:#fff;

//font variables
$font-base: 'Montserrat', sans-serif;
$font-logo: 'Crimson Pro', serif;
$font-display: 'Lora', serif;


