/* 
font-family: 'Crimson Pro', serif;
font-family: 'Lora', serif;
font-family: 'Montserrat', sans-serif;
 */

//SCSS Imports
@import "mixins";
@import "variables";
@import "reset";
@import "navigation";
@import "layout";
@import "homepage";



//Responsive Breakpoints