@import "../../vars.css";

.title {
  font-family: "Jost";
  font-style: normal;
  font-weight: 500;
  font-size: 2.7rem;
  line-height: 1.6rem;
  letter-spacing: 0.01em;
  margin: 2rem 0;
  color: var(--main-blue);
  margin: 2rem 1rem 4rem 1rem;
}
