.story {

    &__pictures{
        
        grid-column: fullbleed-start / col-end 4;
        background-color: peachpuff;
        background-image: linear-gradient(rgba($color-primary, .5), rgba($color-primary, .5)), url(/img/back.jpg );
        background-size: cover ;
        @media only screen and (max-width: $bp-medium){
            grid-column: fullbleed-start / fullbleed-end;
            padding: 6rem; 
        }

        display: grid;
        grid-template-columns: repeat(6, 1fr);
        grid-template-rows: repeat(6, 1fr);
        align-items: center;
    }
    &__img--1{
        width:100%;
        grid-column: 2 / 6 ;
        grid-row: 2 / 6;
        box-shadow: 0 2rem 5rem rgba(#000, .1);

        @media only screen and (max-width: $bp-medium){
            grid-column: 1 / 5 ;
            grid-row: 1 / -1;
        }
    }
 
    &__img--2{
       width: 100 %; 
       grid-row: 4 / 6;
       grid-column: 4 / 7;
       z-index: 20 ;
       box-shadow: 0 2rem 5rem rgba(#000, .2)  ;
      
       @media only screen and (max-width: $bp-medium){
        grid-row: 1 / -1;
    }
       
    }   

    &__content { 
        grid-column: col-start 5 / fullbleed-end;
        background-color: $color-grey-light-1;

        @media only screen and (max-width: $bp-medium){
            grid-column: fullbleed-start / fullbleed-end;
            grid-row: 5 / 6;
        }
        
        padding: 6rem 8vw;
        
        /* display: flex;
        flex-direction: column;
        justify-content: center;
        align-items:  start; */ //another option
        display: grid;
        align-content: center;
        justify-items: start;
    }
    
    &__text {
         font-size: 1.5rem;
         font-style: italic;
         margin-bottom: 4rem;
          
    }
}