
.container {

    background-color: #eee;
    /* width:1000px; */
    /* height: 1000px; */
    /* margin:30px auto; */
    height: 100vh;

    display: grid;

    /* grid-template-rows: 1fr 1fr; */
    grid-template-rows: repeat(2, 1fr);
    /* grid-template-columns: 1fr 1fr 1fr; */
    grid-template-columns: repeat(3, 1fr);
    
    /* grid-row-gap:40px;
    grid-column-gap:40px; */
    grid-gap:10px;
}

.item {
    padding:40px;
    color: white;
    font-size: 20px;
    font-family: monospace;
}

.item--1{
    background-color: yellow;
    color: black;
    /* grid-row-start:1;
    grid-row-end:2;
    grid-column-start: 1;
    grid-column-end:2; */
    grid-row: 1 / 2;
    grid-column: 1 / -1; 
}

.item--2{
    background-color: red;
    grid-row: 2 / 3;
    grid-column: 1 / span 2;
    
}

.item--3{
    background-color: green;
}

.item--4 {
    background-color: blue;
}

.item--5 {
    background-color: pink;
    /* grid-row: 2/3;
    grid-column: 2/3; */
}

.item--6 {
    background-color: Purple;
    /* grid-row: 1 / 2 ;
    grid-column: 3 /4;
} */

