.team { 
    margin: 10vw 10vw;
}

.intro {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(40rem, 1fr));

    &__title {
        font-family: 'PT Serif', serif;
        font-weight: 700;
        font-size: 3.6rem;
        margin-bottom: 2.5rem;
    }

    &__details { 
        font-family: 'Poppins', sans-serif;
        font-size: 1.8rem;

        &--title {
            font-weight: 600;
            
        }

        &--content {
            font-weight: 400;
            margin-top: 1rem;
            line-height: 1.5;
        }
    }
}

.photos {
    margin: 5rem 0;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(30rem,1fr));
    grid-gap: 5rem;

    .photo__card { 
        display: grid;
        grid-template-columns: min-content min-content;
        grid-gap: 1rem;
        

        > img {
            width: 20rem;
        }

        &--title{
            writing-mode: vertical-rl;
            font-family: 'PT Serif', serif;
            font-weight: 400;
            font-size: 1.2rem;
            
        }

    }
}

footer{
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    font-size: 1.4rem;
    font-weight: 600;
    color: #A9A9A9;
}
