.item {
    background-color: red;
    font-size: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
    padding:20px;
}

.container {
    display: grid;
    grid-template-rows: [header-start] 1fr [header-end box-start] 1fr [box-end main-start] 1fr [main-end footer-start] 1fr [footer-end];
    grid-template-columns: repeat(4, [col-start] 1fr [col-end]);
    grid-gap: 25px;
    width: 1000px;
    margin: 20px auto;
    background-color: lightgray;
    height: 100vh;
}

.header {
    /* using line number  */
    /* grid-row: 1 / 2;
    grid-column: 1 / -1; */
    /* using line names */
    grid-row: header-start / header-end;
    grid-column: col-start 1 / col-end 4;
}

.sidebar { 
    grid-row: box-start / main-end;
    grid-column: col-start 4 / col-end 4;
}

.main-content {
    /* grid-row: 3 / 4; */
    grid-column: col-start 1 / col-end 3;
    height: 500px;
}

.footer {
    /* grid-row: 4 / 5; */
    grid-column: col-start 1 / col-end 4;

}