/* Error: Expected expression.
 *    ,
 * 32 |        width: 100 %; 
 *    |                    ^
 *    '
 *   sass/layout/_story.scss 32:20  @import
 *   sass/main.scss 11:9            root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Expected expression.\a    \2577 \a 32 \2502         width: 100 %; \a    \2502                     ^\a    \2575 \a   sass/layout/_story.scss 32:20  @import\a   sass/main.scss 11:9            root stylesheet";
}
