//Responsive Breakpoints
$bp-largest: 75em; //1200px
$bp-large:62.5em; //1000px
$bp-medium: 50em; //800px
$bp-small:37.5em;


//CSS Reset
*,
*::before,
*::after {
    margin:0;
    padding: 0;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%; //    10px/16px = 62.5% -> 1rem = 10px
    @media only screen and (max-width: $bp-largest){
        font-size: 50%;
    }
}

body {
    font-family: $font-primary;
    color: $color-grey-dark-2;
    font-weight: 300;
    line-height: 1.6;
}
