// FONT VARIABLES
$font-primary: 'Nunito', sans-serif;
$font-display: 'Josefin Sans', sans-serif;

 //Sass Extend - to place together common styles
%heading {
    font-family: $font-display;
    font-weight: 400;
}

.heading-1 {
    @extend %heading;
}

.heading-2 {
    @extend %heading; 
     font-size: 4rem;
     font-style: italic;
     line-height: 1 ;

     &--light {
        color:$color-grey-light-1;
    }

    &--dark {
        color:$color-grey-dark-1;
    }

} 

.heading-3 {
    @extend %heading;
    font-size: 1.6rem;
    color: $color-primary;
    text-transform: uppercase;
}
.heading-4 {
    @extend %heading;
    font-size: 1.9rem;
    
    &--light {
        color:$color-grey-light-1;
    }

    &--dark {
        color:$color-grey-dark-1;
    }

    &--primary {
        color: $color-primary-dark;
    }
}